<main class="container">
  <div class="top">
    <nav class="navbar">
      <div class="navbar__logo">
        <img src="../../assets/OlistoLogo.jpg" alt="company logo" />
      </div>
      <div class="navbar__links">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#menu">Menu</a></li>
        </ul>
      </div>
    </nav>
    <div class="closingTime__error" *ngIf="closingTimeError">
      <div class="info">
        <span class="material-icons"> info </span>
        <p>Sorry we have closed. Cannot place orders at this time</p>
      </div>
    </div>
    <div class="body">
      <div class="body__intro" id="home">
        <h1>Welcome to olisto</h1>
        <p class="text_base">Best gob3 in town</p>
        <p class="text">
          Order your favourite gob3 from the comfort of your homes with a very
          fast and quality delivery service
        </p>
        <div class="body__intro__buttons">
          <a href="#menu">
            <button class="our__menu">see today's menu</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="body__menu" id="menu">
    <h1>Our Menu</h1>
    <div class="menu__container">
      <div class="menu__meal__card" *ngFor="let item of foodArray.slice(0, 9)">
        <div class="card__image">
          <img src="{{ item.image }}" alt="{{ item.alt }}" />
        </div>
        <div class="card__body">{{ item.body }}</div>
        <div class="card__price">
          <h4>{{ "GHS " + item.price }}</h4>
          <button (click)="onProceedToOrderPage(item.id)">order now</button>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</main>
