<footer class="footer">
  <div class="address">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <p>Address: North Kaneshie, Oseble Street</p>
  </div>
  <div class="social-icons">
    <div class="icon contact">
      <i class="fa fa-phone" aria-hidden="true"></i>
      <p>0553355038 / 0249702696</p>
    </div>
    <a
      href="https://wa.me/233553355038"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="icon whatsapp">
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
        <p>0553355038</p>
      </div>
    </a>
    <a href="https://m.facebook.com/gob3fiday/?tsid=0.17240941263422815&source=result" target="_blank" rel="noopener noreferrer">
      <div class="icon facebook">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <p>@gob3Friday</p>
      </div>
    </a>
    <a
      href="https://instagram.com/gob3friday"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="icon instagram">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <p>@gob3Friday</p>
      </div>
    </a>
    <a
      href="https://twitter.com/Gob3Friday"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="icon twitter">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <p>@Gob3Friday</p>
      </div>
    </a>
    <div class="icon email">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      <p>gob3friday@gmail.com</p>
    </div>
  </div>
</footer>
